.about_main {
    height: 536px;
    /* background-color: aqua; */
    padding-top: 36px;
}

.about_left {
    height: 500px;
    width: 620px;
    /* background-color: skyblue; */
    font-size: 30px;
    color: #2e2e2e;
}
.about_title span {
    display: block;
    margin-top: 10px;
    width: 30px;
    border-bottom: 4px solid #ffc42b;
}
.details:last-child {
    margin-top: 40px;
}
.details {
    width: 560px;
    height: 180px;
    /* background-color: skyblue; */
    font-size: 14px;
    color: #666666;
    margin-top: 35px;
    text-indent: 2em;
    line-height: 32px;
}
.about_right {
    height: 540px;
    width: 500px;
    margin-right: 40px;
}

.relation_message {
    height: 400px;
    /* background-color: steelblue; */
    padding-top: 30px;
}
.relation_message_left {
    float: left;
    width: 760px;
    height: 260px;
    /* background-color: tan; */
}

.relation_message_left p {
    font-size: 16px;
    color: #555555;
}
.message_left_title {
    font-size: 30px;
    color: #2e2e2e;
}
.message_left_title span {
    display: block;
    margin-top: 10px;
    width: 30px;
    border-bottom: 4px solid #ffc42b;
}
.message_content {
    width: 540px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.message_content  span {
    font-size: 14px;
    line-height: 30px;
}

.relation_message_right {
    height: 253px;
    width: 400px;
    /* background-color: red; */
    float: right;
}
.relation_message_right h4 {
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}

.message_right_title {
    font-size: 36px;
    color: #2e2e2e;
    margin-bottom: 20px;
}
.message_right_title span {
    display: block;
    margin-top: 10px;
    width: 30px;
    border-bottom: 4px solid #ffc42b;
}
.relation_message_right p {
    line-height: 30px;
    font-size: 14px;
    color: #666666;
}
.relation_message_right button {
    width: 92px;
    height: 45px;
    background-color: #ffc42b;
    color: #000000;
    margin-top: 30px;
}
.relation_message_right button:hover {
    background-color: #ffffff;
    border: 1px solid #f4f8fb;
}