/* 版心 */
.w {
    width: 1280px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.shoping  {
    height: 80px;
    /* background-color: aqua; */
    /* background: url(../image/header.jpg) no-repeat; */
}
/* .shoping img {
    width: 100%;
} */
.shoping .logo h1 {
    height: 80px;
    width: 140px;
    line-height: 80px;
    background: url(../image/logo.png) no-repeat left center;
}

.logo .top_right {
    width: 300px;
    height: 30px;
    /* background-color: skyblue; */
    margin-top: 26px;
    text-align: center;
    line-height: 30px;
}
.top_right a {
    width: 39px; 
    margin-right: 8px;   
}
.header {
    background-color: #2e2e2e;
    height: 66px;
}
.header_nav {
    /* background-color: skyblue; */
    height: 66px;
}
.header_nav ul {
    float: left;
} 
.header_nav ul li {
    float: left;
    line-height: 66px;
    

}
.header_nav ul li a {
    padding: 0 25px;
    font-size: 14px;
    color: #ffffff;
}  
.header_nav ul li a:hover {
    color: #f2972e;
}

.header_nav ul li:first-child a{
    padding-left: 0px;
    /* color: #f2972e; */
}


/* 底部 */
.footer {
    height: 365px;
    background-color: #f7f7f7;
    padding-top: 80px;
}
.footer_hd {
    height: 221px;
    /* background-color: skyblue; */
}
.contact {
    width: 400px;
    height: 221px;
    /* background-color: steelblue; */
}
.contact h2 {
    font-size: 24px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 25px;
    font-weight: 400;
}
.contact  span{
    font-size: 15px;
    color: #555555;
}
.contact .phone {
    font-size: 23px;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 8px;
} 

.footer_hd  dl {
    padding-left: 36px;
    width: 200px;
    height: 221px;
}
.footer_hd  dl dt {
    font-size: 24px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 25px;
}
.footer_hd  dl dd {
    font-size: 15px;
    line-height: 22px;
    color: #555555;
}
.footer_hd  dl dd textarea {
    width: 370px;
    height: 110px;
    padding-top: 20px;
    padding-left: 20px;
}
.footer_hd  button {
    width: 60px;
    height: 110px;
    color: #000000;
    background-color: #ffc32b;
    float: right;
    margin-right: 0px;
    margin-top: 70px;
}
.footer_hd  button:hover{
    background-color: #dedede;
}


/* 最底下 */
.footer_content {
    height: 49px;
    line-height: 49px;
}
.footer_content span {
    float: left;
    font-size: 14px;
    color: #555555;
}
.footer_content_img  {
   padding-top: 19px;
}
.footer_content_img ul li {
    float: left;
    width: 29px;
    height: 20px;
    /* background-color: #f4bc2c; */
}
.footer_content_img li span {
    margin-left: 13px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.footer_content_img ul li:nth-child(1) span{
    background: url(../image/icon_16x16.png) -32px 0 no-repeat;
}
.footer_content_img ul li:nth-child(2) span{
    background: url(../image/icon_16x16.png)  no-repeat;
}
.footer_content_img ul li:nth-child(3) span{
    background: url(../image/icon_16x16.png) -15px -32px  no-repeat;
}
.footer_content_img ul li:nth-child(4) span{
    background: url(../image/icon_16x16.png) -65px 0 no-repeat;
}