/* main 大盒子 */
.main {
    height: 580px;
    background-color: #f7f7f7;
}
 /* .main .w {
    background-color: springgreen; 
     height: 580px;
}   */
.main  .nav {
    float: left;
    height: 561px;
    width: 216px;
    /* background-color: steelblue; */
    margin-right: 10px;
    box-shadow: 0 2px 3px 2px rgb(0 0 0 / 10%);

}
.main  .nav ul li {
    height: 70px;
    line-height: 70px;
    padding-left: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}
.main  .nav ul li:last-child {
    border-bottom: 0px solid #e0e0e0;
}
.main  .nav ul li a {
    font-size: 15px;
}
.main  .nav ul li:hover a {
    color: #ffc42b;
}


/* main 中间内容 */
.main  .focus {
    float: left;
    margin-left: 15px;
    width: 740px;
    height: 538px;
    background-color: tan;
    margin-top: 23px;
    background: url(../image/banner.png) no-repeat;
    background-size: 100% 100%; 
}

.focus_content {
    width: 448px;
    height: 446px;
    /* background-color: thistle; */
    margin-top: 20px;
    margin-left: 36px;
    
}
.focus_content  h5 {
    
    font-size: 15px;
    color: #ffffff;
}
.focus_content .focus_content_title {
    width: 182px;
    height: 88px;
    /* background-color: aqua;   */
    margin-top: 100px;
    margin-bottom: 25px;
}
.focus_content_title h3 {
    font-size: 26px;
    color: #000000;
    font-weight: 400;
}
.focus_content_title h3 span {
    display: block;
    width: 22px;
    border-bottom: 4px solid #ffc42b;
    margin-top: 7px;
    
}
.focus_content button {
    width: 118px;
    height: 49px;
    background-color: #ffc42b; 
    margin-top: 26px;
}
.focus_content button:hover {
    color: #2e2e2e;
    background-color: #ffffff;
}

/* 右边盒子 */
.main .langya {
    width: 270px;
    height: 538px;
    /* background-color: tomato; */
    margin-top: 23px;
}
/* 右侧上盒子 */
.langya .langya_hd {
    width: 270px;
    height: 264px;
    margin-bottom: 22px;
    background: url(../image/headset.png) right bottom no-repeat;
    background-size: 125px 100px ;
    background-color: #b1c7bb;
    padding-left: 16px;
    padding-top: 58px;
    position: relative;
}

.header_title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 24px;
}
.header_title span {
    display: block;
    width: 22px;
    border-bottom: 4px solid #ffc42b;
    margin-top: 7px;
}
.langya div s {
    font-size: 16px;
    color: #f5f8f6;
}
 
.langya .price {
    font-size: 24px;
    color: #343534;
    /* background-color: #a6afaa; */
    position: absolute;
    left: 16px;
    top: 140px;   
}

.langya_hd button {
    width: 90px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #ffc42b;
    margin-top: 34px;
    
}
.langya_hd button:hover {
    color: #2e2e2e;
    background-color: #ffffff;
}

/* 右侧下盒子 */
.langya .langya_bd {
    width: 270px;
    height: 252px;  
    margin-bottom: 22px;
    background: url(../image/headset.png) right bottom no-repeat;
    background-color: #3d3d3d;
    background-size: 125px 100px ;
    padding-left: 16px;
    padding-top: 58px;
    position: relative;
}
.langya_bd .header_title {
    color: #eaeaea;
    font-size: 24px;
}
.langya_bd .price {
    display: block;
    color: #f4bc2c;
}
.langya_bd button {
    width: 90px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #ffc42b;
    margin-top: 60px;
}
.langya_bd button:hover {
    color: #2e2e2e;
    background-color: #ffffff;
}


/* 热点专卖 */
.hot_zone {
    height: 619px;
    /* background-color: skyblue; */
    margin-top: 90px;
}
.hot_zone_hd {
    font-size: 30px;
    color: #2e2e2e;
    margin-bottom: 30px;
}
.hot_zone_hd span {
    display: block;
    width: 30px;
    border-bottom: 4px solid #ffc42b;
    margin-top: 7px;
}

.hot_zone_bd ul li {
    float: left;
    height: 490px;
    width: 410px;
    /* background-color: red; */
    /* float: right; */
    margin-right: 19px;
    background-size: 100% 100%;
    border: 1px solid #e5e5e5;
    /* overflow: hidden; */
}
.hot_zone_bd ul li:last-child {
    margin-right: 0;
}
.hot_zone_bd ul li img {
    width: 391px;
    height: 391px;
}
.hot_zone_bd_title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
}
.hot_zone_bd_title a{
    font-size: 16px;
    color: #333333;
}
.hot_zone_bd_title_price {
    text-align: center;
    font-size: 20px;
    color: #000000;
}

/* 745px 355px */
.boutique {
    height: 470px;
    /* background-color: skyblue; */
} 

.boutique .boutique_left {
    width: 826px;
    height: 470px;
    background: url(../image/earphone.png)no-repeat right bottom;
    background-color: #ffc42b;
    padding-top: 55px;
    padding-left: 35px;
    
}
.boutique .boutique_left p {
    font-size: 14px;
    color: #62532d;
}
.boutique .boutique_left button {
    width: 110px;
    height: 50px;
    background-color: #ffffff;
    margin-top: 80px;
}
.boutique .boutique_left button a {
    color: #2e2e2e;
}
.boutique .boutique_left button:hover{
    background-color: #464646;
}
.boutique .boutique_left button a:hover {
    color: #ffc42b;
}

.boutique_title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 35px;
}
.boutique_title span {
    display: block;
    width: 22px;
    border-bottom: 4px solid #ffffff;
    margin-top: 7px;
}
.boutique .boutique_right {
    height: 470px;
    width: 355px;
    padding-right: 20px;
    padding-top: 80px;
    padding-left: 35px;
    background: url(../image/cable.png) no-repeat ;
    background-position-x: 203px;
    background-position-y: 290px;
    background-color: #2e2e2e;
    background-size: 130px 180px;
}

.hot_activity_title {
    font-size: 26px;
    color: #ffffff;
   

}
.hot_activity_title  span{
    display: block;
    width: 22px;
    border-bottom: 4px solid #ffc42b;
    margin-top: 7px;
}
.boutique_right p {
    font-size: 14px;
     color: #ffffff;
}

.boutique_right button {
    height: 50px;
    width: 110px;
    background-color: #ffc42b;
    margin-top: 70px;
}
.boutique_right button a {
    color: #2e2e2e;
}
.boutique_right button:hover {
    background-color: #ffffff;
}
.fittings {
    height: 1100px;
    /* background-color: skyblue; */
    margin-top: 100px;
}

.fittings_hd {
    height: 95px;
    /* background-color: slateblue; */
}
.fittings_hd_title {
    height: 49px;
    /* background-color: springgreen; */
    font-size: 30px;
}
.fittings_hd_title span {
     display: block;
    width: 30px;
    border-bottom: 4px solid #ffc42b;
    margin-top: 7px;
}
.fittings_list ul li {
    float: left;
    height: 416px;
    width: 292px;
    /* background-color: pink; */
    margin-right: 32px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;

}
.fittings_list ul li:nth-child(4n) {
    margin-right: 0;
}
.fittings_list ul li  img {
    width: 100%;
}
.fittings_list ul li a {
    margin-top: 10px;
    font-size: 16px;
    display: block;
}
.fittings_list ul li  a:hover {
    color: #ffc42b;
}
.fittings_list ul li span {
    color: #000000;
    font-size: 20px;
}


