.technology {
    height: 760px;
    /* background-color: teal; */
    margin-top: 60px;
}

.technology_left {
    float: left;
    width: 620px;
    height: 660px;
    /* background-color: thistle; */
    padding-right: 52px;
}
.technology_left_title {
    font-size: 30px;
    color: #2e2e2e;  
    padding-bottom: 10px;
} 
.technology_left_title span {
    display: block;
    margin-top: 10px;
    width: 30px;
    border-bottom: 4px solid #ffc42b;
}  
.technology_left_explain {
    padding-top: 23px;
}

.technology_left_explain span {
    color: #000000;
    font-size: 15px;
}
.technology_left_explain  p {
    font-size: 13px;
    color: #555555;
    line-height: 30px;
    text-indent: 2em;
}
.technology_right {
    float: right;
    width: 560px;
    height: 656px;
    background-color: thistle;
}


